In [3]:
import pandas as pd
import yaml

In [4]:
try:
    with open(r"C:\Users\andre\OneDrive\Escritorio\vanguard\config.yaml", 'r') as file:
        config = yaml.safe_load(file)
except Exception as e:
    print("Error reading the config file")

In [8]:
df_exp = pd.read_csv(config['data']['exp_client'], sep=",", header=0,low_memory=False)

In [9]:
df_exp

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [10]:
df_exp.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [12]:
#Revisamos los tipos de data por defecto para cada columna
df_exp.dtypes

client_id     int64
Variation    object
dtype: object

In [14]:
#revisamos si hay datos duplicados y vemos que no hay 
df_exp.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
70604    False
70605    False
70606    False
70607    False
70608    False
Length: 70609, dtype: bool

In [19]:
# Revisamos si hay datos nulos 
df_exp.isnull().sum()

client_id        0
Variation    20109
dtype: int64

In [20]:
#eliminamos los datos nulos y con ellos se eliminan 20109 filas
df_null = df_exp.dropna(subset =["Variation"])

In [21]:
df_null

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]