In [1]:
import pandas as pd
import yaml

In [9]:
try:
    with open(r"C:\Users\andre\OneDrive\Escritorio\vanguard\config.yaml", 'r') as file:
        config = yaml.safe_load(file)
except Exception as e:
    print("Error reading the config file")

In [14]:
df = pd.read_csv(config['data']['demo_final'], sep=",", header=0,low_memory=False)
df_final = df.reset_index()

In [15]:
df_final

,index,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
70604,70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [16]:
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [17]:
df.shape

(70609, 9)

In [18]:
df.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [19]:
df.select_dtypes("number").columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [20]:
df.select_dtypes("number").nunique().sort_values(ascending=False)

client_id           70609
bal                 70328
clnt_tenure_mnth      482
clnt_age              165
clnt_tenure_yr         54
logons_6_mnth           9
num_accts               8
calls_6_mnth            8
dtype: int64

In [21]:
df.select_dtypes("object").columns

Index(['gendr'], dtype='object')

In [22]:
df.isnull().sum().sort_values(ascending=False) #cleaning

clnt_age            15
clnt_tenure_yr      14
clnt_tenure_mnth    14
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
client_id            0
dtype: int64

In [23]:
df.columns[df.isnull().mean() > 0.8]

Index([], dtype='object')

In [24]:
df.columns[df.isnull().mean() < 0.8]

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')