In [2]:
import pandas as pd
import yaml

In [3]:
try:
    with open(r"C:\Users\perez\OneDrive\Documentos\GitHub\Proyectos\vanguard_project\vanguard\config.yaml", 'r') as file:
        config = yaml.safe_load(file)
except Exception as e:
    print("Error reading the config file")

In [4]:
df_final_demo = pd.read_csv(config['data']['demo_final'], sep=",", header=0,low_memory=False)

In [5]:
df_final_demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [6]:
df_final_demo.shape

(70609, 9)

In [21]:
df_final_demo.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [22]:
df_final_demo.select_dtypes("number").columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [23]:
df_final_demo.select_dtypes("number").nunique().sort_values(ascending=False)

client_id           70609
bal                 70328
clnt_tenure_mnth      482
clnt_age              165
clnt_tenure_yr         54
logons_6_mnth           9
num_accts               8
calls_6_mnth            8
dtype: int64

In [24]:
df_final_demo.select_dtypes("object").columns

Index(['gendr'], dtype='object')

In [25]:
df_final_demo.isnull().sum().sort_values(ascending=False) #cleaning

clnt_age            15
clnt_tenure_yr      14
clnt_tenure_mnth    14
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
client_id            0
dtype: int64

In [27]:
df_final_demo.columns[df_final_demo.isnull().mean() > 0.8]

Index([], dtype='object')

In [28]:
df_final_demo.columns[df_final_demo.isnull().mean() < 0.8]

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')