In [1]:
import pandas as pd
import yaml

In [2]:
#para leer un archivo Yaml en Python

try:
    with open (r"C:\Users\perez\OneDrive\Documentos\GitHub\Proyectos\vanguard_project\vanguard\config.yaml", 'r') as file:
        config = yaml.safe_load(file)
except Exception as e:
    print('Error reading the config file')

In [3]:
#importamos los dos datasets de Huellas digitales y los fusionamos en un solo dataframe

pt_1 = pd.read_csv(config['data']['pt_1'], sep= ",", header=0, low_memory=False)

pt_2 = pd.read_csv(config['data']['pt_2'], sep= ",", header=0, low_memory=False)

df_final_web_data = pd.concat([pt_1, pt_2], axis=0).reset_index(drop=True)

In [4]:
#comprobamos cuántas filas tienen los datasets originales

pt_1.shape, pt_2.shape

((343141, 5), (412264, 5))

In [5]:
#comprobamos que se han sumado todas las filas de pt_2 y pt_1

df_final_web_data.shape

(755405, 5)

In [6]:
#previsualizamos las columnas y primeras filas

df_final_web_data.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [7]:
#vemos los tipos de data por defecto para cada columna

df_final_web_data.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [8]:
#no hay valores nulos en ninguna columna y todos las columnas son de tipo objeto

df_final_web_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB

In [9]:
#comprobamos el número de valores que tiene cada columna

df_final_web_data.nunique()

client_id       120157
visitor_id      130236
visit_id        158095
process_step         5
date_time       629363
dtype: int64

In [10]:
#confirmamos que no hay valores nulos

df_final_web_data.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [11]:
#comprobamos los duplicados

df_final_web_data.duplicated().sum()

10764

In [12]:
#eliminamos los 10764 valores duplicados

df_final_web_data.drop_duplicates(keep='first', inplace=True)

In [13]:
#comprobamos cuántas filas se han eliminado

df_final_web_data.shape

(744641, 5)

In [14]:
try:
    
    #cambiamos el formato de la columna 'date_time'.

    df_final_web_data["date_time"] = pd.to_datetime(df_final_web_data["date_time"], format='%Y-%m-%d %H:%M:%S')
    print("La columna date_time es de tipo datetime")
    
except ValueError:
        
    #Si la transformación da error el código arroja los valores problemáticos.

    print("Algunos valores en la columna no pudieron ser convertidos a date_time")
    print("Valores problemáticos:")
    problematic_values = df_final_web_data.loc[pd.to_datetime(df_final_web_data['date_time'], errors='coerce').isnull(), 'date_time']
    print(problematic_values)

La columna date_time es de tipo datetime

In [15]:
#comprobamos que, efectivamente, se ha modificado el tipo de datos para la columna data_type

df_final_web_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 744641 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     744641 non-null  int64
 1   visitor_id    744641 non-null  object
 2   visit_id      744641 non-null  object
 3   process_step  744641 non-null  object
 4   date_time     744641 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.1+ MB

In [16]:
#comprobamos cuáles son los valores únicos de la columna process_step

df_final_web_data["process_step"].unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

In [49]:
categorico_potencial_de_num = df_final_web_data.select_dtypes("number")

        client_id
0         9988021
1         9988021
2         9988021
3         9988021
4         9988021
...           ...
755400    9668240
755401    9668240
755402    9668240
755403    9668240
755404     674799

[744641 rows x 1 columns]

In [51]:
df_final_web_data_categorico = pd.concat([df_final_web_data.select_dtypes("object"), categorico_potencial_de_num], axis = 1)
df_final_web_data_categorico

,visitor_id,visit_id,process_step,client_id
0,580560515_7732621733,781255054_21935453173_531117,step_3,9988021
1,580560515_7732621733,781255054_21935453173_531117,step_2,9988021
2,580560515_7732621733,781255054_21935453173_531117,step_3,9988021
3,580560515_7732621733,781255054_21935453173_531117,step_2,9988021
4,580560515_7732621733,781255054_21935453173_531117,step_3,9988021
...,...,...,...,...
755400,388766751_9038881013,922267647_3096648104_968866,start,9668240
755401,388766751_9038881013,922267647_3096648104_968866,start,9668240
755402,388766751_9038881013,922267647_3096648104_968866,step_1,9668240
755403,388766751_9038881013,922267647_3096648104_968866,start,9668240
755404,947159805_81558194550,86152093_47511127657_716022,start,674799

In [58]:
#calculamos el total de clientes_id, visitantes_id y visitas_id y coinciden en 744641

total_visitor_id = df_final_web_data_categorico["visitor_id"].count()
total_client_id = df_final_web_data_categorico["client_id"].count()
total_visit_id = df_final_web_data_categorico["visit_id"].count()

total_client_id, total_visit_id, total_visitor_id

(744641, 744641, 744641)

In [1]:
#calculamos la frecuencia y proporción de la columna process_step

process_step_frecuencia = df_final_web_data_categorico["process_step"].value_counts()

process_step_proporcion = df_final_web_data_categorico["process_step"].value_counts(normalize=True)

process_step_frecuencia, process_step_proporcion

NameError: name 'df_final_web_data_categorico' is not defined

In [35]:
#la primera hora que recoge el dataframe

df_final_web_data["date_time"].min()

Timestamp('2017-03-15 00:03:03')

In [36]:
#la última hora que recoge el dataframe

df_final_web_data["date_time"].max()

Timestamp('2017-06-20 23:59:57')